<div id="container">
  <header>
  Code Development Project
  </header>
 <div id="main" role="main">
  <div id="large">
    <div class="group">
      <img src="../assets/{{selected.image}}" alt="Large Image" width="430" height="360" />
      <div class="details">
        <p><strong>Title</strong> {{selected.title | uppercase}}</p>
        <p><strong>Description</strong> {{selected.description}}</p>
        <p><strong>Cost</strong> ${{selected.cost}}</p>
        <p><strong>ID #</strong> {{selected.id}}</p>
        <p><strong>Thumbnail File</strong> {{selected.thumbnail}}</p>
        <p><strong>Large Image File</strong> {{selected.image}}</p>
      </div>
    </div>
  </div>
  <div class="thumbnails">
    <div class="group" *ngFor="let thumb of thumbs" (click)="onSelect(thumb.id)">
      <a href="#" title="{{thumb.id}}" [class.active]="selected.id == thumb.id">
        <img src="../assets/{{thumb.thumbnail}}" alt="{{thumb.thumbnail}}" width="145" height="121" />
        <span>{{thumb.id}}</span>
      </a>
      <button [class.invisible]="!prevDisabled" class="previous disabled" title="Previous" disabled>Previous</button>
      <button href="#" (click)="onPrevious()" [class.invisible]="prevDisabled" class="previous" title="Previous">Previous</button>
      <button [class.invisible]="!nextDisabled" class="next disabled" title="Next" disabled>Next</button>
      <button href="#" (click)="onNext()" [class.invisible]="nextDisabled" class="next" title="Next">Next</button>
    </div>
  </div>
 </div>
 <footer>
  <a href="instructions.pdf">Download PDF Instructions</a>
 </footer>
</div> <!-- eo #container -->